@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Cherry Bomb';
  src: url('./fonts/CherryBombOne-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*overflow: hidden;*/
}

:root {
  --background: #96d6ff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #96d6ff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  font-family: Montserrat;
  height: 100%;
}

button,
a,
.cursor-pointer {
  cursor: url('../../public/images/cursor.svg') 12 0, auto !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 2px #4b371f;
  }
}

@layer components {
  .heading-2 {
    @apply font-Montserrat text-4xl font-light md:text-5xl;
  }
}

.route-wrapper {
  & > .flex:not(:last-child) {
    border-bottom: 1px solid #373a53;
  }
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /**/
}
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: url('../../public/images/cursor.svg') 12 0, auto;
}
body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

input {
  outline: none;
}
input:disabled {
  background-color: transparent;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mp-list .tr:nth-child(odd) .td {
  background-color: #0000000f;
}
.mp-list .tr:nth-child(odd) .td:first-child {
  border-radius: 10px 0 0 10px;
}

.mp-list .tr:nth-child(odd) .td:last-child {
  border-radius: 0 10px 10px 0;
}

.cave-bg {
  background: var(--background) url(/images/cave/cave-empty.png) center top no-repeat;
  background-size: 104% 100%;
  min-height: 890px;
  min-width: 1200px;
  .bear-header {
    background: none;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.spinner-path {
  animation: cycleOpacity var(--animation-duration) linear infinite;
}

.spinner-path:nth-child(1) {
  animation-delay: calc(var(--animation-duration) * -0 / 8);
}
.spinner-path:nth-child(2) {
  animation-delay: calc(var(--animation-duration) * -1 / 8);
}
.spinner-path:nth-child(3) {
  animation-delay: calc(var(--animation-duration) * -2 / 8);
}
.spinner-path:nth-child(4) {
  animation-delay: calc(var(--animation-duration) * -3 / 8);
}
.spinner-path:nth-child(5) {
  animation-delay: calc(var(--animation-duration) * -4 / 8);
}
.spinner-path:nth-child(6) {
  animation-delay: calc(var(--animation-duration) * -5 / 8);
}
.spinner-path:nth-child(7) {
  animation-delay: calc(var(--animation-duration) * -6 / 8);
}
.spinner-path:nth-child(8) {
  animation-delay: calc(var(--animation-duration) * -7 / 8);
}