@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Cherry Bomb';
  src: url('./fonts/CherryBombOne-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --background: #96d6ff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #96d6ff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat;
}

body,
button,
a,
.cursor-pointer {
  cursor: url('../../public/images/cursor.svg') 12 0, auto !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.route-wrapper {
  & > .flex:not(:last-child) {
    border-bottom: 1px solid #373a53;
  }
}

body::-webkit-scrollbar,
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  /**/
}
body::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover,
div::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

input {
  outline: none;
}
input:disabled {
  background-color: transparent;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.mp-list .tr:nth-child(odd) .td {
  background-color: #0000000f;
}
.mp-list .tr:nth-child(odd) .td:first-child {
  border-radius: 10px 0 0 10px;
}

.mp-list .tr:nth-child(odd) .td:last-child {
  border-radius: 0 10px 10px 0;
}


.cave-bg {
  background: url(/images/cave/cave-empty.png) center top no-repeat;
  background-size: 100% 100%;
  .bear-header {
    background: none;
  }
}